.credo.exs
.dialyzer_ignore.exs
.dockerignore
.elixir_ls
.gcloudignore
.git
.github
.gitignore
.iex.exs
.plt
.tool-versions
.vscode

Dockerfile
README.md
VERSION
coveralls.json

apps/*/assets/node_modules
apps/*/doc

/_build/
/cover/

/deps/
/doc/
/.fetch

/test/
/tmp/
